
<div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="{{shot.user.avatar_url}}" >
  </div>
  <div class="media-body">
    <h1>{{shot.data.title}}</h1>
    <span class="muted">by</span>
    <a href="#/players/{{shot.user.username}}">
      {{shot.user.name}}
    </a>
    | 
    {{shot.created_at | date}}
  </div>
</div>


<div class="row">
  <div class="span6">
    <img class="shot_image" ng-src="{{shot.images.hidpi}}">
    
  </div>

  <div class="span3">
      <ul class="nav nav-list">
        <li>
          <i class="icon-heart"></i>
          {{shot.likes_count}} Likes
        </li>
        <li>
          <i class="icon-eye-open"></i>
          {{shot.views_count}} Views
        </li>
        <li>
          <i class="icon-share-alt"></i>
          {{shot.rebounds_count}} Rebounds
        </li>
        <li>
          <i class="icon-comment"></i>
          {{shot.comments_count}} Comments
        </li>
        <li>
          <a href="{{shot.html_url}}" target="_blank">
            <i class="icon-globe"></i>
            {{shot.title}}
          </a>
        </li>
      </ul>

  </div>
</div>

